
.image-bg img{
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
  .headingforpost{
    position: relative;
    top:-160px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
  }
.bg-body-tertiary{
    display: flex;
    justify-content: center;
    background: white !important;
  }
  .bg-body-tertiary .col{
    font-weight: bold;
    text-align: center;
    font-family: 'Inter';
  }
  .row{
    width: 100%;
  }
  @media screen and (max-width: 576px){
    .container {
      display: flex;
      justify-content: center;
  }
  }